:root {
  --mainGrey:  #eeeeee;
  --secondaryGrey: #eeeeee;
  --textGrey: #333;
  --mainWhite: #f3f3f3;
  --mainBlack: #232528;
  --mainBlue: rgb(27, 122, 185);
  --mainYellow: rgba(216, 148, 0, 0.726);
}


body {
  font-family: 'Roboto', sans-serif !important;
  background-color: var(--mainGrey) !important;
  color: var(--textGrey) !important;
}

/*   three classes used throught project */

            /* title */
.text-title{
  font-family: 'Roboto Slab', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-Grey{
  color: var(--textGrey);
}

.text-bright{
  color: var(--secondaryGrey);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--textGrey) !important;
  border-radius: 0 !important;
  border-color: var(--textGrey) !important;
  border: 0.1rem;
}

.btn-black:hover{
  background: var(--secondaryGrey) !important;
  color: var(--textGrey)
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainBlue);

}
